* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 230px;

    justify-items: stretch;
    justify-content: center;

    /*align-content: center;*/
    /*max-width: 100%;*/

    height: 1150px;
    width: 1150px;
    overflow: hidden;
    margin: 0 auto;
}

.img-container {
    /*background: url('assets/img/5.jpg');*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 230px;
    /*background: url('assets/img/5.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 2s, transform 0.3s, box-shadow 0.3s;
    z-index: 2;
}

.img-container:nth-child(5n):hover {
    transform-origin: top right;
}

.img-container:nth-child(21):hover,
.img-container:nth-child(22):hover,
.img-container:nth-child(23):hover,
.img-container:nth-child(24):hover {
    transform-origin: bottom left;
}
.img-container:nth-child(25):hover {
    transform-origin: bottom right;
}

.img-container:after {
    content: '';
    background-color: black;
    opacity: 0.4;
    width: 230px;
    height: 230px;
    top: 0;
    left: 0;
    position: absolute;
}

.img-container:hover {
    transform: scale(2);
    transform-origin: top left;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 2px #4ca2d9 inset;
    z-index: 3;
}
.img-container:hover:after {
    transition: opacity 0.3s;
}

.img-container:hover h3 {
    display: block;
}
.img-container:hover p {
    display: block;
}
.img-container:hover:after {
    opacity: 0.1;
}

.img-container h3 {
    display: none;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.img-container h3:before {
    content: '';
    width: 2px;
    height: 30px;
    top: 0;
    position: absolute;
    background-color: skyblue;
    left: -10px;
}

.img-container p {
    display: none;
    color: white;
}
.img1{
    background-image: url("assets/img/2_3.jpg");
}
.img2{
    background-image: url("assets/img/3.jpg");
}
.img3{
    background-image: url("assets/img/5.jpg");
}
.img4{
    background-image: url("assets/img/6.jpg");
}
.img5{
    background-image: url("assets/img/7_2.jpg");
}
.img6{
    background-image: url("assets/img/8.jpg");
}
.img7{
    background-image: url("assets/img/5.jpg");
}
.img8{
    background-image: url("assets/img/5.jpg");
}
.img9{
    background-image: url("assets/img/5.jpg");
}
.img10{
    background-image: url("assets/img/5.jpg");
}
.img11{
    background-image: url("assets/img/5.jpg");
}
.img12{
    background-image: url("assets/img/5.jpg");
}
.img13{
    background-image: url("assets/img/5.jpg");
}
.img14{
    background-image: url("assets/img/5.jpg");
}
.img15{
    background-image: url("assets/img/5.jpg");
}
.img16{
    background-image: url("assets/img/5.jpg");
}
.img17{
    background-image: url("assets/img/5.jpg");
}
.img18{
    background-image: url("assets/img/5.jpg");
}
.img19{
    background-image: url("assets/img/5.jpg");
}
.img20{
    background-image: url("assets/img/5.jpg");
}
.img21{
    background-image: url("assets/img/5.jpg");
}
.img22{
    background-image: url("assets/img/5.jpg");
}
.img23{
    background-image: url("assets/img/img1.jpg");
}
.img24{
    background-image: url("assets/img/IMG_0796.jpg");
}
.img25{
    background-image: url("assets/img/sIMG_3574.jpg");
}