* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 240px;

    justify-items: stretch;
    justify-content: center;

    height: 1200px;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.img-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 2s, transform 0.3s, box-shadow 0.3s;
    z-index: 2;
    text-decoration: none;
}

.img-container:nth-child(5n):hover {
    transform-origin: top right;
}

.img-container:nth-child(21):hover,
.img-container:nth-child(22):hover,
.img-container:nth-child(23):hover,
.img-container:nth-child(24):hover {
    transform-origin: bottom left;
}

.img-container:nth-child(25):hover {
    transform-origin: bottom right;
}

.img-container:after {
    content: '';
    background-color: black;
    opacity: 0.6;
    width: 240px;
    height: 240px;
    top: 0;
    left: 0;
    position: absolute;
}

.img-container:hover {
    transform: scale(2);
    transform-origin: top left;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 2px #4ca2d9 inset;
    z-index: 3;
}

.img-container:hover:after {
    transition: opacity 0.4s;
}

.img-container:hover h3 {
    display: block;
    z-index: 10;
}

.img-container:hover p {
    display: block;
    z-index: 10;
}

.img-container:hover:after {
    opacity: 0.1;
}

.img-container h3 {
    display: none;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.img-container h3:before {
    content: '';
    width: 2px;
    height: 30px;
    top: -5px;
    position: absolute;
    background-color: skyblue;
    left: -10px;
}

.img-container p {
    display: none;
    color: white;
    font-size: small;

    /*font-weight: 700;*/
    /*size: 20px;*/
    /*line-height:30px ;*/
}

.img-1 {
    background-image: url("assets/img/img1.jpg");
}

.img-2 {
    background-image: url("assets/img/2_3.jpg");

}

.img-3 {
    background-image: url("assets/img/3.jpg");
}

.img-4 {
    background-image: url("assets/img/13.jpg");
}

.img-5 {
    background-image: url("assets/img/5.jpg");
}

.img-6 {
    background-image: url("assets/img/6.jpg");
}

.img-7 {
    background-image: url("assets/img/7_2.jpg");
}

.img-8 {
    background-image: url("assets/img/8.jpg");
}

.img-9 {
    background-image: url("assets/img/9.jpg");
}

.img-10 {
    background-image: url("assets/img/sIMG_3574.jpg");
}

.img-11 {
    background-image: url("assets/img/11.jpg");
}

.img-12 {
    background-image: url("assets/img/83.jpg");
}

.img-13 {
    background-image: url("assets/img/IMG_0796.jpg");
}

.img-14 {
    background-image: url("assets/img/14.jpg");
}

.img-15 {
    background-image: url("assets/img/15.jpg");
}

.img-16 {
    background-image: url("assets/img/16.jpg");
}

.img-17 {
    background-image: url("assets/img/17.jpg");
}

.img-18 {
    background-image: url("assets/img/18.jpg");
}

.img-19 {
    background-image: url("assets/img/19.jpg");
}

.img-20 {
    background-image: url("assets/img/20.jpg");
}

.img-21 {
    background-image: url("assets/img/21.jpg");
}

.img-22 {
    background-image: url("assets/img/22.jpg");
}

.img-23 {
    background-image: url("assets/img/23.jpg");
}

.img-24 {
    background-image: url("assets/img/24.jpg");
}

.img-25 {
    background-image: url("assets/img/25.jpg");
}

