.container-mansory {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery-mansory {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 240px;
    justify-items: stretch;
    justify-content: center;
    height: 1200px;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.gallery-mansory .img-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 2s, transform 0.3s, box-shadow 0.3s;
    z-index: 2;
    text-decoration: none;
}

.gallery-mansory .img-container:nth-child(5n):hover {
    transform-origin: top right;
}

.gallery-mansory .img-container:nth-last-child(-n+5):hover {
    transform-origin: bottom left;
}

.gallery-mansory .img-container:nth-last-child(1):hover {
    transform-origin: bottom right;
}

.gallery-mansory .img-container:after {
    content: '';
    background-color: black;
    opacity: 0.6;
    width: 240px;
    height: 240px;
    top: 0;
    left: 0;
    position: absolute;
}

.gallery-mansory .img-container:hover {
    transform: scale(2);
    transform-origin: top left;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0 0 0 2px #4ca2d9 inset;
    z-index: 3;
}

.gallery-mansory .img-container:hover:after {
    transition: opacity 0.4s;
}

.gallery-mansory .img-container:hover h3 {
    display: block;
    z-index: 10;
}

.gallery-mansory .img-container:hover p {
    display: block;
    z-index: 10;
}

.gallery-mansory .img-container:hover:after {
    opacity: 0.3;
}

.gallery-mansory .img-container h3 {
    display: none;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.gallery-mansory .img-container h3:before {
    content: '';
    width: 2px;
    height: 30px;
    top: -5px;
    position: absolute;
    background-color: skyblue;
    left: -10px;
}

.gallery-mansory .img-container p {
    display: none;
    color: white;
    mix-blend-mode: luminosity;
    font-size: small;
}

.gallery-mansory .img-1 {
    background-image: url("http://www.omz.ru/upload/iblock/875/8750f6f4d378eb0d013d30788c742291.jpg");
}

.gallery-mansory .img-2 {
    background-image: url("http://www.omz.ru/upload/iblock/104/10472fa9519c53c7585de6504c555814.jpg");
}

.gallery-mansory .img-3 {
    background-image: url("http://www.omz.ru/upload/iblock/14b/14bd533693c8ad4bd05658ac92ae2e6a.jpg");
}

.gallery-mansory .img-4 {
    background-image: url("http://www.omz.ru/upload/iblock/5c2/5c222041fb0b273c96de95c2fccfd6a8.jpg");
}

.gallery-mansory .img-5 {
    background-image: url("http://www.omz.ru/upload/iblock/418/4180be5fc79b80ad885aa8c2997605e9.jpg");
}

.gallery-mansory .img-6 {
    background-image: url("http://www.omz.ru/upload/iblock/817/817b34e202b34da1e5e887012c953c56.jpg");
}

.gallery-mansory .img-7 {
    background-image: url("http://www.omz.ru/upload/iblock/f16/f1684986c8f141e4763829c6fa60789e.jpg");
}

.gallery-mansory .img-8 {
    background-image: url("http://www.omz.ru/upload/iblock/d11/d115d1fa8855fa56b681368054aa210d.jpg");
}

.gallery-mansory .img-9 {
    background-image: url("http://www.omz.ru/upload/iblock/bce/bce34e6578375dde4e26a2eac05e25ed.jpg");
}

.gallery-mansory .img-10 {
    background-image: url("http://www.omz.ru/upload/iblock/5d2/5d2a409b43f961c074ba98c57f3262f8.jpg");
}

.gallery-mansory .img-11 {
    background-image: url("http://www.omz.ru/upload/iblock/6c2/6c231b293fdbb3122e39ead2b15d92a5.jpg");
}

.gallery-mansory .img-12 {
    background-image: url("http://www.omz.ru/upload/iblock/bfb/bfb119774c30415962137cc6e76fd598.jpg");
}

.gallery-mansory .img-13 {
    background-image: url("http://www.omz.ru/upload/iblock/4f5/4f5085805bbb5054e884e2c0927b5438.jpg");
}

.gallery-mansory .img-14 {
    background-image: url("http://www.omz.ru/upload/iblock/166/166e418b3f075a0a1b5d836501f6f915.jpg");
}

.gallery-mansory .img-15 {
    background-image: url("http://www.omz.ru/upload/iblock/d3e/d3eb64970d0bc5922234dbaee0026bc7.jpg");
}

.gallery-mansory .img-16 {
    background-image: url("http://www.omz.ru/upload/iblock/818/818092e86e780bb037c4f5a6ef705825.jpg");
}

.gallery-mansory .img-17 {
    background-image: url("http://www.omz.ru/upload/iblock/41d/41d6a225992cda8faeb039dbd484a743.jpg");
}

.gallery-mansory .img-18 {
    background-image: url("http://www.omz.ru/upload/iblock/fa0/fa0374b1b2effa5da7f19601eb6e7e08.jpg");
}

.gallery-mansory .img-19 {
    background-image: url("http://www.omz.ru/upload/iblock/f29/f29c63fc30585bc35dd93787730f3ad5.jpg");
}

.gallery-mansory .img-20 {
    background-image: url("http://www.omz.ru/upload/iblock/b1d/b1d432613bc80df37487deb09f5d4f92.jpg");
}

.gallery-mansory .img-21 {
    background-image: url("http://www.omz.ru/upload/iblock/88f/88ff4bdca136f880c857b01e9e70adc1.jpg");
}

.gallery-mansory .img-22 {
    background-image: url("http://www.omz.ru/upload/iblock/6b0/6b0c4df3aad2b6dbd4e7b06b2d5f8106.jpg");
}

.gallery-mansory .img-23 {
    background-image: url("http://www.omz.ru/upload/iblock/e40/e40c3b90fe9e5d2d743c76866fc29000.jpg");
}

.gallery-mansory .img-24 {
    background-image: url("http://www.omz.ru/upload/iblock/8cd/8cd46813b4c119e5072ab533c90650e7.jpg");
}

.gallery-mansory .img-25 {
    background-image: url("http://www.omz.ru/upload/iblock/0ae/0ae3a246e220e2455136e167fd4f1411.jpg");
}

